@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-blue-50: #ebffff;
  --color-blue-100: #e0f5fa;
  --color-blue-200: #b2e6f2;
  --color-blue-300: #7fd5e9;
  --color-blue-400: #3cb8d6;
  --color-blue-500: #087590;
  --color-blue-600: #066377;
  --color-blue-700: #044d5f;
  --color-blue-800: #116279;
  --color-blue-900: #135166;
  --color-blue-950: #053547;

  --color-green-50: #e8f5f0;
  --color-green-100: #c6e9db;
  --color-green-200: #9bd9c2;
  --color-green-300: #67c3a5;
  --color-green-400: #36a384;
  --color-green-500: #175f48;
  --color-green-600: #12513e;
  --color-green-700: #0d4233;
  --color-green-800: #093528;
  --color-green-900: #05281e;
}

/* Font Definitions */
@font-face {
  font-family: 'SaudiRiyal';
  src: url('/font/SaudiRiyal.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN';
  src: url("/font/Din/fonnts.com-DIN_2014.otf") format('opentype');
}

@font-face {
  font-family: 'Poppins';
  src: url("/font/Poppins/Poppins-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Amiri';
  src: url("/font/Amiri/Amiri-Regular.ttf") format('truetype');
}

/* Primary Arabic Utility */
.font-Arabic,
.font-Amiri {
  font-family: 'Tajawal', 'DIN Next LT Arabic', 'Amiri', serif !important;
}

.font-Poppins {
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'SaudiRiyal';
  src: url('/font/SaudiRiyal.ttf') format('truetype');
}

/* .placeholder-price::placeholder {
  font-family: 'SaudiRiyal';
} */

/* Global Font Logic for Localized Content & Translation */
:lang(ar),
[lang="ar"],
[lang^="ar-"] {
  font-family: 'Tajawal', 'DIN Next LT Arabic', 'Amiri', sans-serif !important;
}

.price {
  font-family: 'SaudiRiyal';
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Arial, sans-serif;
}

/* Scrollbar & Utilities */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

/* Global Modern Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #175f48;
  border-radius: 20px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #12513e;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #175f48 transparent;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #175f48 transparent;
}